#body{
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 15vw;
}
.card{
    background-color: white;
    border-radius: 10px;
    width: 30vw;
    height: 45vh;
    box-shadow: -5px 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap:10px;
}
#div1{
    margin-top: 3%;
    margin-left: 3%;
    color: #0F2030;
    font-weight: 500;
    font-size: 170%;
}
#div2{
    color: #4F6370;
    margin-left: 3%;    
}
#div3{
    font-weight:600;
    margin-left: 3%;
    color: #0F2030;
}
input{
    border: #C9C9C9 solid 1px;
    border-radius: 10px;
    margin-left: 3%;
    width: 90%;
    height: 11%;
    padding-left: 2.5%;
}
#pass{
    color: #0F2030;
    font-weight:600;
}
#for{
    color: #009966;
    cursor: pointer;
    text-decoration: underline;
}
#div4{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}
#div5{
    color: var(--secondary-text-color);
    margin-left: 3%;
    color: #4F6370;
}
#parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5%;
    margin-left: 3%;
    margin-right: 8%;
    height: 9%;
    margin-top: 5%;
}
#parent div{
    cursor: pointer;
}
#button2{
    background-color: #0F2A3F;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    font-size: 100%;
    width: 32%;
    height: 100%;
    cursor: pointer;
    margin-top: 1.5%;
}