<div 
    class="p-6 bg-[var(--card-color)] border border-[var(--border-color)] 
    rounded-[24px] w-[300px] flex flex-col gap-4
    shadow-[0px_2px_15px_0px_rgba(0,0,0,0.1)]"
>
    <div class="flex flex-col gap-3">
        <div class="flex flex-row items-center gap-2 justify-start">
            <div 
            class="rounded-full w-[50px] h-[50px] 
            bg-[var(--primary-color)] border border-[#C9D9FF]
            flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                class="text-white lucide lucide-file-symlink-icon lucide-file-symlink"><path d="M4 11V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.706.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h7"/><path d="M14 2v5a1 1 0 0 0 1 1h5"/><path d="m10 18 3-3-3-3"/></svg>
            </div>
            <h3 class="text-[18px] font-semibold text-[var(--primary-text-color)]">
                {{ service.title }}
            </h3>
        </div>
        <span class="text-[var(--primary-subtitle-color)] text-[18px] font-medium">
            {{ service.type }}
        </span>
        <div class="flex flex-wrap gap-2">
            <div 
                *ngFor="let badge of service.badges"
                class="px-3 py-[6px] text-center text-[16px] font-medium
                    bg-[var(--background-color)] text-[var(--secondary-text-color)]
                    rounded-[25px] w-fit">
                {{ badge }}
            </div>
        </div>
    </div>

    <a routerLink="services/{{ service.id }}" class="block w-full">
        <button class="flex flex-row items-center gap-2 justify-center 
        py-2 px-4 rounded-[24px] bg-[var(--primary-color)] w-full
        hover:bg-[#005E71] hover:cursor-pointer transition-colors duration-300">
            <span 
            class="text-white text-[20px] font-medium">
                View Details
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-white lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
        </button>
    </a>
</div>