#body{
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 10vw;
}
.card{
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: -5px 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap:10px;
}
#div1{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 160%;
}
#div2{
    color: var(--secondary-text-color);
}
#div3{
    font-weight:600;
    color: var(--primary-text-color);
}
input{
    border: #C9C9C9 solid 1px;
    border-radius: 10px;
    padding-block: 2%;
    padding-left: 2.5%;
}
#parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#parent div{
    cursor: pointer;
    color: var(--secondary-text-color);
}
#button2{
    background-color: #0F2A3F;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1.5%;
    padding-block: 2%;
    padding-inline: 1.5%;
}