<section class="bg-[var(--secondary-color)] p-6 flex flex-col items-center gap-6">

  <div class="w-full flex flex-col gap-2 items-center">
    <h2 class="text-center font-rubik text-[32px] font-medium text-[var(--primary-text-color)]">
      About us
    </h2>
    <p class="text-center text-[var(--secondary-text-color)] text-[18px] font-medium">
      "CityConnect" is a platform through which you can apply for all municipal services.
    </p>
  </div>

  <!-- Stats Row -->
  <div class="w-full flex flex-wrap justify-center items-center gap-12">
    <div class="flex flex-col gap-2 items-center px-4">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="40" height="40" viewBox="0 0 24 24" fill="none" 
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
        class="text-[var(--primary-color)] lucide lucide-building2-icon lucide-building-2">
        <path d="M10 12h4"/><path d="M10 8h4"/><path d="M14 21v-3a2 2 0 0 0-4 0v3"/><path d="M6 10H4a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-2"/><path d="M6 21V5a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v16"/>
      </svg>
      <div class="flex flex-col items-center">
        <h3 class="text-[28px] font-rubik font-medium text-[var(--primary-text-color)]">
          1K+
        </h3>
        <p class="text-[var(--secondary-text-color)] text-[16px] font-medium text-center">
          Certified Engineering Offices
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-2 items-center px-4">
      <svg 
      xmlns="http://www.w3.org/2000/svg" 
      width="40" height="40" viewBox="0 0 24 24" fill="none" 
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
      class="text-[var(--primary-color)] lucide lucide-users-round-icon lucide-users-round"><path d="M18 21a8 8 0 0 0-16 0"/><circle cx="10" cy="8" r="5"/><path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/>
      </svg>
      <div class="flex flex-col items-center">
        <h3 class="text-[28px] font-rubik font-medium text-[var(--primary-text-color)]">
          2.7M+
        </h3>
        <p class="text-[var(--secondary-text-color)] text-[16px] font-medium text-center">
          Registered Users
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-2 items-center px-4">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="40" height="40" viewBox="0 0 24 24" fill="none" 
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
        class="text-[var(--primary-color)] lucide lucide-file-check-icon lucide-file-check">
        <path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"/><path d="M14 2v5a1 1 0 0 0 1 1h5"/><path d="m9 15 2 2 4-4"/>
      </svg>
      <div class="flex flex-col items-center">
        <h3 class="text-[28px] font-rubik font-medium text-[var(--primary-text-color)]">
          1.3M+
        </h3>
        <p class="text-[var(--secondary-text-color)] text-[16px] font-medium text-center">
          Business Licenses Approved
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-2 items-center px-4">
      <svg 
      xmlns="http://www.w3.org/2000/svg" 
      width="40" height="40" viewBox="0 0 24 24" fill="none" 
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
      class="text-[var(--primary-color)] lucide lucide-hard-hat-icon lucide-hard-hat">
      <path d="M10 10V5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5"/><path d="M14 6a6 6 0 0 1 6 6v3"/><path d="M4 15v-3a6 6 0 0 1 6-6"/><rect x="2" y="15" width="20" height="4" rx="1"/>
      </svg>
      <div class="flex flex-col items-center">
        <h3 class="text-[28px] font-rubik font-medium text-[var(--primary-text-color)]">
          600K+
        </h3>
        <p class="text-[var(--secondary-text-color)] text-[16px] font-medium text-center">
          Building Permits Issued
        </p>
      </div>
    </div>
  </div>

</section>