.user-card {
    margin-left: 24px;
    margin-right: 24px;
    width: 97%;
    height: 100px;
    background-color: white;
    border-radius: 25px;
    padding: 24px;
    align-items: center;
    justify-content: space-between;
}

.user-infos {
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.username,
.user-role,
.email-address-container,
.user-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.username-n-pfp {
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--font-lato);
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.pfp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #bbbbbb;
    background-color: white;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-role>span,
.user-status>span,
.email-address-container>span {
    font-family: var(--font-lato);
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-subtitle-color);
}

.user-status {
    color: #00AF20;
    font-family: var(--font-lato);
    font-size: 18px;
    font-weight: 700;
}


.actions {
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
}

.actions svg {
    width: 24px;
    color: var(--primary-subtitle-color);
    height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.actions svg:hover {
    color: var(--primary-color);
}

.icon-container {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon-container:hover {
    color: var(--primary-color);
    background-color: #CCC;
    transition: all 0.3s ease;
}