<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <div id="body">
        <div id="div1">Help & Frequently Asked Questions</div>
        <div id="div2">
            <p>Find answers to common questions about offers, appointments, account management and more.</p>
        </div>
        <div id="card1">
            <div id="parent">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4F6370" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
                <input type="text" placeholder="Search FAQS......">
                <div id="show">showing {{ filteredFaqs.length }} results</div>
            </div>
            <div id="details">
                @if (filteredFaqs.length === 0) {
                    <div id="no-result">No results found.</div>
                }
                @for (faq of filteredFaqs; track faq) {
                <details class="faq-item">
                    <summary>
                        <p>{{ faq.question }}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                    </summary>
                    <p id="rep">{{ faq.answer }}</p>
                </details>
                }
            </div>
        </div>
        <div id="card2">
            <div id="divi1">Ask us a question</div>
            <div id="divi2">Didn't find the answer ? Send your question below and we'll get back to you.</div>
            <div id="divi3">Your question</div>
            <textarea formControlName="question"></textarea>
            @if(successMessage) {
                 <div class="success">
                {{ successMessage }}
                </div>
            }
             @if(errorMessage) {
                 <div class="red">
                {{ errorMessage }}
                </div>
            }
            <button type="submit" [disabled]="isLoading">
                {{ isLoading ? 'Sending...' : 'Send question' }}
            </button>
        </div>
    </div>
</form>