#body{
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 15vw;
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: -5px 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    
}
#div1{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 170%;
}
#div2{
    color: var(--secondary-text-color);    
}
#button1{
    border: #C9C9C9 solid 1px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 100%;
    padding: 1.5%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#parent1{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#parent1 hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
}
#div3{
    font-weight:600;
    color: var(--primary-text-color);
}
input{
    border: #C9C9C9 solid 1px;
    border-radius: 10px;
    padding: 1.5%;
    padding-left: 2.5%;
    width: 100%;
}
#parent2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5%;
}
#pass{
    color: var(--primary-text-color);
    font-weight:600;
}
#for{
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
}
#button2{
    background-color: var(--primary-color);
    color: white;
    font-weight: medium;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 100%;
    cursor: pointer;
    margin-top: 1.5%;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}
#parent3{
    display: flex;
    justify-content: row;
    gap: 8px;
    font-size: 110%;
    font-weight: 400;
    margin-top: 3%;
    margin-left: 14%;
}
#button1 svg {
    width: 1.25rem;
    height: 1.25rem;
}
#pdiv2{
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
}