# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=jalel
DB_PASSWORD=postgres
DB_NAME=cityconnect

# Server Configuration
PORT=3004
NODE_ENV=development

# API Gateway (si nécessaire)
API_GATEWAY_URL=http://localhost:5000
