<div class="flex flex-col gap-6 font-[family-name:var(--font-lato)] p-2 bg-[#FFFFFF]">
    <!-- Header -->
    <div class="flex flex-row justify-between items-start">
        <div class="flex flex-col gap-1">
            <h2 class="text-[32px] font-bold text-[var(--primary-text-color)] m-0 leading-tight">
                {{ isEditMode ? 'Edit FAQ' : 'Add a new FAQ' }}
            </h2>
            <p class="text-[16px] italic text-[#6B7280] m-0">fill in the details below to create a new article.</p>
        </div>
        
        <div class="flex flex-row gap-3 items-center">
            <button (click)="saveForm()" class="border-none flex items-center justify-center font-[family-name:var(--font-lato)]
                           h-[40px] px-6 rounded-[12px] bg-[#00899B] text-[#FFFFFF] text-[15px] font-medium
                           hover:bg-[#007A8A] hover:cursor-pointer transition-colors duration-300">
                Save FAQ
            </button>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col gap-4 mt-2">
        <h3 class="text-[20px] font-medium text-[var(--primary-text-color)] m-0">FAQ Information</h3>

        <div class="flex flex-col gap-5 bg-[#FFFFFF]">
            <div class="flex flex-col gap-1">
                <span class="text-[15px] text-[#1E293B]">Question</span>
                <input type="text" [(ngModel)]="faq.question" placeholder="Add the title for the hero of the article"
                       class="w-full h-[48px] px-4 text-[15px] text-[#4B5563] border border-[#E5E7EB] rounded-[8px] bg-[#FFFFFF] outline-none focus:border-[#00899B]">
            </div>

            <div class="flex flex-col gap-1">
                <span class="text-[15px] text-[#1E293B]">Answer</span>
                <input type="text" [(ngModel)]="faq.answer" placeholder="Add the subtitle for the hero of the article"
                       class="w-full h-[48px] px-4 text-[15px] text-[#4B5563] border border-[#E5E7EB] rounded-[8px] bg-[#FFFFFF] outline-none focus:border-[#00899B]">
            </div>

            <div class="flex flex-col gap-1">
                <span class="text-[15px] text-[#1E293B]">Target Role (Classification)</span>
                <div class="w-full border border-[#E5E7EB] rounded-[8px] bg-[#FFFFFF] focus-within:border-[#00899B] transition-colors relative overflow-hidden">
                    <p-select [options]="roles" [(ngModel)]="selectedRole" optionLabel="name" appendTo="body" class="w-full" styleClass="w-full border-none"></p-select>
                </div>
            </div>
        </div>
    </div>
</div>
