.users-page {
    padding: 10px;
    gap: 48px;
}


.titles {
    padding: 24px;
}

.search-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}

.search-filters-left {
    display: flex;
    gap: 16px;
    align-items: center;
}

.search-input-wrapper,
.filter-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 24px;
    height: 48px;
    overflow: hidden;
}

.search-input-wrapper {
    width: 320px;
}

.filter-wrapper {
    width: 200px;
}

.search-input,
.filter-select {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding-left: 20px;
    padding-right: 48px;

    font-family: var(--font-lato);
    font-size: 18px;
    color: var(--secondary-text-color);
    outline: none;
}

.search-input::placeholder {
    color: var(--secondary-text-color);
}

.filter-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.filter-select:invalid {
    color: var(--secondary-text-color);
}

.search-icon,
.filter-icon {
    position: absolute;
    right: 20px;
    color: var(--secondary-text-color);
    pointer-events: none;
}

.add-user-btn {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    border-radius: 12px;
    padding: 12px 18px;
    font-family: var(--font-lato);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
}

.add-user-btn:hover {
    background-color: white;
    color: var(--primary-color);
}

.users-list {
    gap: 16px;
}