<div class="service-card">
    <div class="service-card-image" *ngIf="ticket?.image">
        <img [src]="ticket?.image" alt="Report image" />
    </div>
    <div class="service-card-image placeholder" *ngIf="!ticket?.image">
        <div class="placeholder-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-image-off"><line x1="2" x2="22" y1="2" y2="22"/><path d="M10.41 10.41a2 2 0 1 1-2.82-2.82"/><path d="M8 21h12a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H4.35"/><polyline points="21 15 16 10 5 21"/><path d="M16 4.35V4a2 2 0 0 1 2-2"/></svg>
        </div>
        <p>No Image Available</p>
    </div>
    <div class="service-card-header">
        <div class="service-card-icon" *ngIf="cardStatus=='approved'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big-icon lucide-circle-check-big"><path d="M21.801 10A10 10 0 1 1 17 3.335"/><path d="m9 11 3 3L22 4"/></svg>    
        </div>
        <div class="service-card-icon" *ngIf="cardStatus=='rejected'">
            <!-- SVG Icon -->
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </div>
        <div class="service-card-icon" *ngIf="cardStatus=='pending'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader-icon lucide-loader"><path d="M12 2v4"/><path d="m16.2 7.8 2.9-2.9"/><path d="M18 12h4"/><path d="m16.2 16.2 2.9 2.9"/><path d="M12 18v4"/><path d="m4.9 19.1 2.9-2.9"/><path d="M2 12h4"/><path d="m4.9 4.9 2.9 2.9"/></svg>
        </div>
        
        <h3 class="service-card-title">
            {{ ticket?.title || 'Untitled Report' }}
        </h3>
        <p style="justify-self: flex-end; color: var(--secondary-text-color);">
            {{ ticket?.createdAt | date:'shortDate' }}
        </p>
    </div>
    <span class="service-card-type">
        {{ ticket?.description }}
    </span>
    <div class="service-card-badges">
        <div class="service-card-badge" *ngIf="ticket?.urgency">
            {{ ticket?.urgency }}
        </div>
        <div class="service-card-badge" *ngIf="ticket?.category">
            {{ ticket?.category }}
        </div>
        <div class="service-card-badge" *ngIf="ticket?.city">
            {{ ticket?.city }}
        </div>
    </div>
    <button class="service-card-button" (click)="onViewClick()">
        <span class="service-card-button-text">
            View Details
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="service-card-arrow"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
    </button>
</div>
