#body{
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 10vw;
}
.card{
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: -5px 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#div1{
    color: var(--primary-text-color);
    font-family: var(--font-rubik);
    font-weight: 400;
    font-size: 150%;
}
#div3{
    font-weight:600;
    color: var(--primary-text-color);
    font-size: 110%;
}
input{
    border: #C9C9C9 solid 1px;
    border-radius: 10px;
    padding: 1.5%;
}
#div4{    
    margin-top: 3%;
    align-self: center;
}
#div5,#div2{
    color: var(--secondary-text-color);
    font-family: var(--font-lato);
    font-size: 110%;
}
#parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#parent div{
    cursor: pointer;
}
#button2{
    background-color: #0F2A3F;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding-block: 2%;
    padding-inline: 5%;
    cursor: pointer;
}
.success {
  color: #16a34a;
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}


.red {
  color: #dc2626;
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}