<section class="p-6 flex flex-col items-center gap-6">

  <!-- Header -->
  <div class="w-full flex flex-col gap-2 items-center">
    <h2 class="text-center font-rubik text-[32px] font-medium text-[var(--primary-text-color)]">
      Latest news and events
    </h2>
    <p class="text-center text-[var(--secondary-text-color)] text-[18px] font-medium">
      You can view the latest news and updates related to the "CityConnect" platform.
    </p>
  </div>

  <!-- Carousel -->
  <div class="w-full py-3">
    <p-carousel
      [value]="featuredNews"
      [numVisible]="4"
      [numScroll]="4"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
      [showIndicators]="false"
      [showNavigators]="true">

      <ng-template pTemplate="item" let-news>
          <app-news-card
            [news]="news"
            class="block h-full mx-3">
          </app-news-card>
      </ng-template>

    </p-carousel>
  </div>

</section>