<div d="body">
    <div id="title">
        <p>CityConnect , a city of</p>
        <p>experiences that breathes</p>
        <p>with you</p>
    </div>
    <div id="description">
        <p>Access city services, track projects, and manage your account. all in</p>
        <p>one place. Sign in to continue or create a new account.</p>
    </div>
    <div id="parent">
        <div id="sub1">
            <div id="div1">
                <p class="dark">100 million</p>
                <p>Budget for 2025</p>
            </div>
            <div id="div2">
                <p class="dark">45</p>
                <p>Projects in progress</p>
            </div>
        </div>
        <div id="sub2">
            <div id="div3">
                <p class="dark">30,000 m²</p>
                <p>Green areas</p>
            </div>
            <div id="div4">
                <p class="dark">20 km²</p>
                <p>Roads built</p>
            </div>
        </div>
    </div>
</div>

